In [78]:
class Employee:
  def __init__(self,emp_id,emp_name,emp_address):
    self._emp_id = emp_id
    self._emp_name = emp_name
    self._emp_address = emp_address
  def show(self):
    emps = [self._emp_id,self._emp_name,self._emp_address]
    return emps

class FullTime:
  def __init__(self,allowance,rate):
    self.allowance = allowance
    self.rate = rate
  def show(self):
    print("Allowance:",self.allowance)
    print("Rate:",self.rate)

class PartTime(FullTime):
  pass

class Salary:
  def __init__(self,salary_id,salary,cut_off_date,days_of_work):
    self.salary_id = salary_id
    self.salary = salary
    self.cut_off_date = cut_off_date
    self.days_of_work = days_of_work

  def show(self):
    print("Salary ID:",self.salary_id)
    print("Salary:",self.salary)
    print("Valid from",self.days_of_work,"to",self.cut_off_date)
    print()

In [86]:
#Employee
employee1 = Employee(123456, "John Doe", "New Hampshire")
employee2 = Employee(654321, "Jane Doe", "Old York")

#Fulltime
fulltimer = FullTime(1000,200)

#PartTime
parttimer = PartTime(500,50)

#Salary
salary1 = Salary(98765,50000,"December 25, 2069","February 2, 2068")
salary2 = Salary(56789,15000,"August 09, 2046","May 16, 2046")

print("Employees:")
print()
print("Full Time Employee")
print(employee1.show())
fulltimer.show()
salary1.show()

print("Part Time Employee")
print(employee2.show())
parttimer.show()
salary2.show()

Employees:

Full Time Employee
[123456, 'John Doe', 'New Hampshire']
Allowance: 1000
Rate: 200
Salary ID: 98765
Salary: 50000
Valid from February 2, 2068 to December 25, 2069

Part Time Employee
[654321, 'Jane Doe', 'Old York']
Allowance: 500
Rate: 50
Salary ID: 56789
Salary: 15000
Valid from May 16, 2046 to August 09, 2046